In [1]:
spark.sql("""
  SELECT 
    ew1.*,
    COALESCE(age.Age_Multiplier, 1) AS Age_Multiplier,
    COALESCE(acc.Accuracy_Multiplier, 1) AS Accuracy_Multiplier
  FROM
    elementweightage ew1
    INNER JOIN (
      SELECT 
        ew2.group,
        ROUND(1 / SUM(ew2.age_scope * ew2.weightage), 5) AS Age_Multiplier
      FROM 
        elementweightage ew2
      GROUP BY group
      ) AS age ON age.group = ew1.group
    INNER JOIN (
      SELECT
        ew3.group,
        ROUND(1 / SUM(ew3.accuracy_scope * ew3.weightage), 5) AS Accuracy_Multiplier
      FROM
        elementweightage ew3
      GROUP BY group
    ) AS acc ON acc.group = ew1.group
""").createOrReplaceTempView("elementWeightage")

spark.sql("""
SELECT
  Length_Ft,
  BusinessUnit AS Company_Code,
  REGEXP_REPLACE(Route, " .*", "") AS Route,
  REGEXP_REPLACE(Route, ".* ", "") AS Route_Section,
  ValveSectionName AS Valve_Section,
  ExternalCorrosionRuptureFailureFrequency_PerMiYr * Safety_70_Percent AS EC_Risk,
  ExternalCorrosionRuptureFailureFrequency_PerMiYr AS Probability_of_Failure,
  Safety_70_Percent AS Consequence,
  Risk * Safety_70_Percent AS Total_Risk
FROM riskrunbyvalvesection
""").createOrReplaceTempView("ValveSectionRiskRun")

spark.sql("""
SELECT
  Length_Ft,
  BusinessUnit AS Company_Code,
  REGEXP_REPLACE(Route, " .*", "") AS Route,
  REGEXP_REPLACE(Route, ".* ", "") AS Route_Section,
  ExternalCorrosionRuptureFailureFrequency_PerMiYr * Safety_70_Percent AS EC_Risk,
  ExternalCorrosionRuptureFailureFrequency_PerMiYr AS Probability_of_Failure,
  Safety_70_Percent AS Consequence,
  Risk * Safety_70_Percent AS Total_Risk
FROM riskrunbyroute
""").createOrReplaceTempView("RouteRiskRun")

In [2]:
add_route_information_to_table("CPSurveyReading", "seriesid", "RouteCPSurveyReadingDate")
add_route_information_to_table("HydroTest", "seriesidbegin", "RouteHydroTestDate")
add_route_information_to_table("HCACFR", "seriesidbegin", "RouteHCA")
add_route_information_to_table("MOP", "seriesidbegin", "RouteMOP")
add_route_information_to_table("PipeSegment", "seriesidbegin", "RoutePipeSeg")

add_route_information_to_two_tables("TestPostPoint", "TestPostPointReading", "seriesid", "testpostpointID", "testpostpointID", "RouteTestPostPointDate")

In [3]:
spark.sql("""
  SELECT 
    COALESCE(Company_Code, '') AS Company_Code,
    Company_Description,
    COALESCE(Segment_Name, '') AS Segment_Name,
    CONCAT(segment_name, '/', line) AS Route,
    Area_Name,
    Region_Name,
    Line,
    Route_Section,
    Valve_Section,
    Measure_Begin,
    Measure_End
  FROM
    Hierarchy
""").createOrReplaceTempView("Hierarchy")

In [4]:
spark.sql("""
select 
  REGEXP_REPLACE(LineName, " .*", "") AS route,
  REGEXP_REPLACE(LineName, ".* ", "") AS route_section,
  r.ILIRStartDate, 
  r.id, 
  r.BeginStationSeriesId,
  r.BeginStationNum,
  r.EndStationSeriesId,
  r.EndStationNum,
  o.OperatingUnitName AS Company_Code
from 
  inlineinspectionRange r
  join iras_p_StationSeries s on s.id = r.BeginStationSeriesId
  join iras_p_LineLoop ll on ll.id = s.LineLoopId
  join iras_p_PipelineSystem p on ll.PipelineSystemId = p.id
  join OperatingUnit o on O.id = p.OperatingUnitId
""").createOrReplaceTempView("RouteILI")